@use './partials/' as *;

// Header
.site-header {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;

    .brand img {
        width: $logo-width;
    }

    .hamburger {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gold-web-golden;
        border-radius: 50%;
        display: none;

        i {
            font-size: 1.6rem;
        }

        @include breakpoint (tablet) {
            display: flex;
        }
    }

    .menu {
        display: flex;
        align-items: center;

        @include breakpoint (tablet) {
            position: absolute;
            left: 0;
            top: 7rem;
            flex-direction: column;
            align-items: flex-start;
            background-color: $white;
            width: 100%;
            display: none;

            &.active {
                display: flex;
            }
        }

        .menu-item {
            text-decoration: none;
            margin: 0 1.3rem;
            color: $white;
            transition: color .3s ease;

            &:hover {
                color: $gold-web-golden;
            }

            @include breakpoint (tablet) {
                color: $black;
                margin: 1rem 2rem;
            }
        }

        .contact-btn {
            padding: 15px 25px;
            background-color: transparent;
            color: $white;
            border: 1px solid $white;
            border-radius: $btn-border-radius;
            margin-left: 1.3rem;
            transition: all .3s ease;

            &:hover {
                border: 1px solid $gold-web-golden;
                background-color: $gold-web-golden;
            }

            @include breakpoint (tablet) {
                border: 1px solid $gold-web-golden;
                background-color: $gold-web-golden;
                margin: 1rem 2rem;

                &:hover {
                    background-color: $black;
                    border: 1px solid $black;
                }
            }
        }
    }
}