// Main scss
@use './partials' as *;

// Header
.site-header {
    z-index: 999;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    position: absolute;
    left: 0;
    right: 0;

    .brand img {
        width: $logo-width;

        @include breakpoint (mobile) {
            width: 50px;
        }
    }

    .hamburger {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gold-web-golden;
        border-radius: 50%;
        display: none;

        i {
            font-size: 1.6rem;
            color: $white;
        }

        @include breakpoint (laptop) {
            display: flex;
        }
    }

    .menu {
        display: flex;
        align-items: center;

        @include breakpoint (laptop) {
            position: absolute;
            left: 0;
            top: 7rem;
            flex-direction: column;
            align-items: flex-start;
            background-color: $white;
            width: 100%;
            display: none;

            &.active {
                display: flex;
            }
        }

        .menu-item {
            text-decoration: none;
            margin: 0 1.3rem;
            color: $white;
            transition: color .3s ease;

            &:hover {
                color: $gold-web-golden;
            }

            @include breakpoint (laptop) {
                color: $black;
                margin: 1rem 2rem;
            }
        }

        .contact-btn {
            padding: 15px 25px;
            background-color: transparent;
            color: $white;
            border: 1px solid $white;
            border-radius: $btn-border-radius;
            margin-left: 1.3rem;
            transition: all .3s ease;

            &:hover {
                border: 1px solid $gold-web-golden;
                background-color: $gold-web-golden;
            }

            @include breakpoint (laptop) {
                border: 1px solid $gold-web-golden;
                background-color: $gold-web-golden;
                margin: 1rem 2rem;

                &:hover {
                    background-color: $black;
                    border: 1px solid $black;
                }
            }
        }
    }
}

// Hero
.site-hero {
    width: 100%;
    min-height: 655px;
    background-image: url('../img/header-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    position: relative;

    @include breakpoint (laptop) {
        min-height: 485px;
    }

    @include breakpoint (tablet) {
        min-height: 410px;
    }

    @include breakpoint (laptop) {
        min-height: 485px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: .2);
    }

    .hero-content {
        z-index: 998;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2rem;

        .hero-title-small {
            font-size: 50px;
            color: $white;
            letter-spacing: -3px;
            position: relative;
            top: .8rem;

            @include breakpoint (tablet) {
                font-size: 44px;
                top: .3rem;
            }
        }

        .hero-title-big {
            font-size: 117px;
            color: $white;
            letter-spacing: -2px;

            @include breakpoint (laptop) {
                font-size: 98px;
            }

            @include breakpoint (tablet) {
                font-size: 72px;
            }
        }

        .hero-subtitle {
            color: $white;
            line-height: 24px;
            margin-top: 1rem;
            max-width: 280px;

            @include breakpoint (tablet) {
                font-size: 14px;
            }
        }

        .hero-cta-btn {
            padding: 17px 40px;
            background-color: $gold-web-golden;
            border-radius: $btn-border-radius;
            color: $dark-olive-green;
            transition: background-color .3s ease;
            margin-top: 1.5rem;

            &:hover {
                background-color: #dab200;
            }

            @include breakpoint (tablet) {
                padding: 15px 28px;
                font-size: 14px;
            }
        }
    }
}

// Services
.site-services {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5.5rem;

    .services-title {
        font-size: 40px;
        color: $dark-olive-green;
        position: relative;

        @include breakpoint (laptop) {
            font-size: 38px;
        }

        @include breakpoint (tablet) {
            font-size: 34px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 4.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 3px;
            background-color: $gold-web-golden;
        }
    }

    .services-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .service {
            display: flex;
            flex-direction: column;
            flex-basis: 325px;
            row-gap: 1.5rem;
            padding: 15px;

            .service-img {
                width: 100%;
                border-radius: 2px;
            }

            .service-title {
                font-size: 20px;
                color: $dark-olive-green;
            }

            .service-text {
                color: rgba($color: #536942, $alpha: 0.75);
                line-height: 27px;
            }
        }
    }
}

// Quote 
.site-quote {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    background-color: #f5f8f4;

    @include breakpoint (laptop) {
        padding: 3rem 1rem;
    }

    .quote-img {
        width: 37px;
        opacity: 0.3;

        @include breakpoint (tablet) {
            width: 34px;
        }
    }

    .quote-text {
        font-size: 35px;
        line-height: 43px;
        color: $dark-olive-green;
        text-align: center;
        max-width: 730px;

        @include breakpoint (tablet) {
            font-size: 24px;
            line-height: 38px;
            letter-spacing: -1.5px;
        }
    }

    .quote-author {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: .5rem;

        .author-img {
            width: 50px;
        }

        .author-name {
            color: rgba(82,104,64,0.5);
        }
    }
}

// About us
.site-about {
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 15vw;

    @include breakpoint (laptop) {
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        flex-basis: 410px;

        .about-subtitle {
            font-size: 14px;
            color: rgba(82,104,64,0.7);
        }

        .about-title {
            font-size: 40px;
            color: $dark-olive-green;
            line-height: 44px;
            letter-spacing: -2px;
            margin-top: 1rem;

            @include breakpoint (laptop) {
                font-size: 35px;
                line-height: 40px;
            }
        }

        .about-text {
            color: $dark-olive-green;
            line-height: 26px;
            margin-top: 2.5rem;
        }

        .about-cta {
            padding: 16px 36px;
            border: 1px solid $dark-olive-green;
            align-self: flex-start;
            color: $dark-olive-green;
            border-radius: $btn-border-radius;
            margin-top: 2.5rem;
            transition: all .3s ease;

            &:hover {
                border: 1px solid $gold-web-golden;
                color: $white;
                background-color: $gold-web-golden;
            }
        }
    }

    .about-img {
        max-width: 100%;
        width: 420px;
        border-radius: 2px;

    }
}

// Call to action
.site-cta {
    padding: 5rem 1rem;
    min-height: 29vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/footer-hero-big.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint (laptop) {
        background-image: none;
    }

    .cta-title {
        font-size: 58px;
        letter-spacing: -2px;
        text-transform: uppercase;
        color: $dark-olive-green;

        @include breakpoint (tablet) {
            font-size: 42px;
            letter-spacing: -1.5px;
        }
    }

    .cta-text {
        color: rgba($color: $dark-olive-green, $alpha: 0.75);
        line-height: 32px;
        max-width: 420px;
        text-align: center;
        margin-top: 2rem;
    }

    .cta-btn {
        padding: 17px 40px;
        background-color: $gold-web-golden;
        border-radius: $btn-border-radius;
        color: rgba($color: $dark-olive-green, $alpha: 0.75);
        margin-top: 2rem;
        transition: background-color .3s ease;

        @include breakpoint (laptop) {
            padding: 16px 32px;
        }

        &:hover {
            background-color: #dab200;
        }
    }
}